<div class="header card-1">

  <div class="container">
    <div class="row ">
      <div class="col-10 offset-1">
        <a href="/">
          <img alt="rheinjug:Java User Group Düsseldorf e.V."
               src="/files/logo.svg">
        </a>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-white" style="margin-top: 0.7rem">
      <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
              data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto nav-fill w-100">
          <li class="nav-item">
            <a class="nav-link" href="/">Startseite</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/veranstaltungen.html">Veranstaltungen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/veranstaltungsarchiv.html">Archiv</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aufzeichnungen.html">Aufzeichnungen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/anreise.html">Anreise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://entwickelbar.github.io">EntwickelBar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sponsoren.html">Sponsoren</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/verein.html">rheinjug e.V.</a>
          </li>

        </ul>

      </div>
    </nav>
  </div>

</div>
