<div class="card">
  <div class="card-body">
    <h5><strong>Nächste Veranstaltung</strong></h5>


    <p>{{site.data.featured.date | date: '%d.%m.%Y'}}</p>
    <p>{{ site.data.featured.title }}</p>
    <a href="{{ site.data.featured.meetuplink }}" class="btn btn-primary btn-sm" style="white-space:normal !important">
      Anmeldung über Meetup
    </a>
  </div>
</div>

<hr>

<div class="card">
  <div class="card-body">
    <h5><strong>Gold-Sponsor</strong></h5>
    <a href="https://www.valtech.de/">
      <img class="sponsoring-sidebar" src="/files/sponsoring/valtech.png" alt="">
    </a>
  </div>
</div>


<hr>


<div class="card">
  <div class="card-body">
    <h5><strong>Silber-Sponsoren</strong></h5>
    <p>
      <a href="http://www.fact.de/">
        <img class="sponsoring-bottom" src="/files/sponsoring/fact.png" alt="">
      </a>
    </p>
    <p>
      <a href="http://www.yourkit.com/">
        <img class="sponsoring-bottom" src="/files/sponsoring/yourkit.png" alt="">
      </a>
    </p>
    <p>
      <a href="http://ecx.io/">
        <img class="sponsoring-bottom" src="/files/sponsoring/ecxio.png" alt="">
      </a>
    </p>
    <p>
      <a href="http://www.abit.de/">
        <img class="sponsoring-bottom" src="/files/sponsoring/abit.png" alt="">
      </a>
    </p>
  </div>
</div>

<hr>

<div class="card">
  <div class="card-body">
    <h6>Preise werden gestiftet von</h6>
    <p>
      <a href="http://www.javamagazin.de/">
        <img class="sponsoring-bottom" src="/files/sponsoring/javamagazin.jpg" alt="">
      </a>
    </p>
    <p>
      <a href="http://www.sigs-datacom.de/fachzeitschriften/javaspektrum.html">
        <img class="sponsoring-bottom" src="/files/sponsoring/javaspektrum.gif" alt="">
      </a>
    </p>
    <p>
      <a href="http://www.jetbrains.com/">
        <img class="sponsoring-bottom" src="/files/sponsoring/jetbrains.png" alt="">
      </a>
    </p>
    <p>
      <a href="https://www.dpunkt.de/">
        <img class="sponsoring-bottom" src="/files/sponsoring/dpunkt.png" alt="">
      </a>
    </p>
  </div>
</div>
